@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Font Family for use */
/* font-family: "Merriweather", serif; */
/* font-family: "Inter", sans-serif; */

/* Universal Style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Heading banner styles */
.Newyear-banner{
  max-width: 1320px;
  min-height: 600px;
  border-radius: 16px;
  background-image: url(/images/Banner\ Image.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  margin: 0 auto;
  margin-top: 50px;
}

.Newyear-content{
  color: white;
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  align-items: center;
  height: 400px;
  text-align: center;
}

.Newyear-content h3{
  font-family: "Merriweather", serif;
  font-size: 32;
}

.Newyear-content h2{
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
}

.discount-content h1{
  font-size: 88px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #ff0000;
  margin-bottom: 48px;
}

.discount-content h3{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ff0000;
  margin-bottom: 16px;
}

.discount-content h2{
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  margin-bottom: 48px;
}

.discount-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  max-height: 806px;
  margin: 0 auto;
  margin-top: 90px;
}

/* Main section styles */

#Party-join-section{
  max-width: 1370px;
  max-height: 620px;
  display: flex;
  background-image: url(/images/Vectorrr.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  border-radius: 16px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 120px;
}

.left-side-content{
  width: 40%;
}

.left-side-content h3{
  font-size: 64px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  color: white;
  margin-bottom: 24px;
}

.left-side-content p{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 48px;
}

.left-side-content h4{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.ride-side-image{
  width: 50%;
}

/* Date and place styles */

#date-place{
  max-width: 1320px;
  height: 482px;
  margin: 0 auto;
  margin-top: 120px;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.date-place-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 400px;
}
.date-place-container h3{
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: black;
}

.date-place-container span{
  color: #ff0000;
}

.btn-date-place {
  margin-top: 48px;
  background-color: rgba(255, 0, 0, 1);
  padding: 16px 32px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  border: none;
}

/* Coming Soon section styles */


#coming-soon-section{
  max-width: 1320px;
  height: 463px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 110px;
}

.coming-soon-left-side h4{
  color: #ff0000;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 16px;
}

.coming-soon-left-side h2{
  color: black;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.coming-soon-left-side p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
}

.coming-soon-right-side h2{
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 16px;
}

.coming-soon-right-side p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 43px;
}

.coming-soon-right-side{
  height: 225px;
}

.coming-soon-middle-side{
  width: 463px;
  height: 463px;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  margin-right: 118px;
}

/* Holiday Sale Styles */


#holiday-sale-section{
  max-width: 1320px;
  height: 987px;
  margin: 0 auto;
  margin-top: 120px;
  background-image: url(../images/Rectangle\ 2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}

.holiday-sale-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.holiday-sale-content h4{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.holiday-sale-content h1{
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}

.holiday-sale-content span{
  color: #ff0000;
}

.holiday-sale-content p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  margin-bottom: 64px;
}

.holiday-sale-bottom-image{
  width: 674px;
  height: 577px;
  position: absolute;
  bottom: 85px;
}

.holiday-sale-right-image{
  height: 305px;
  width: 305px;
  position: absolute;
  left: 974px;
  top: 401px;
}

/* Awesome Portfolio Styles */

#awesome-portfolio{
  max-width: 1320px;
  height: 1163px;
  margin: 0 auto;
  margin-top: 120px;
}

.awesome-portfolio-content h5{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #ff0000;
  margin-bottom: 16px;
}

.awesome-portfolio-content h3{
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  color: black;
  margin-bottom: 22px;
}

.awesome-portfolio-content p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 48px;
}

.awesome-porfolio-images{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* Newsletter section style */

#newsletter-section{
  max-width: 1320px;
  height: 616px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.05);
}

.newsletter-content{
  width: 896px;
  height: 336px;
  margin-bottom: 48px;
}
.newsletter-content h2{
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  color: black;
  margin-top: 40px;
  margin-bottom: 22px;
}

.newsletter-content p{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  margin-bottom: 48px;
}

.btn-email-container{
  width: 648px;
  height: 72px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.email-box{
  height: 72px;
  width: 435px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgba(7, 2, 17, 0.3);
  padding: 25px 0px 25px 30px;
  border: none;
  outline: none;
  border-radius: 50px 0 0 50px;
}

.btn-email{
  height: 72px;
  width: 216px;
  border-radius: 0 50px 50px 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: #ff0000;
  border: none;
  outline: none;
}

/* Footer Section Style here */

#footer-section{
  max-width: 1920px;
  height: 600px;
  background-color: rgba(7, 2, 17, 1);
}

#Top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.top-content{
  width: 1320px;
  height: 80px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.top-content p{
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.left-top-content .address-para{
  margin-bottom: 8px;
}

.right-top-content .number-para{
  margin-bottom: 8px;
}

.footer-hr-line-1{
  width: 1320px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

#middle-section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.social-media-icons{
  width: 328px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bottom-content p{
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

#bottom-section{
  width: 1320px;
  height: 80px;
  margin: 0 auto;
  margin-top: 50px;
}

.bottom-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



